<body>
<div id='intro'>
  <p>
    Knowledge is power.
  </p>
</div>
<table id="tableoftext">
  <tbody>
  <tr>
    <td>
      <div>
        <p>
          In my freshman year of college, I visited my dad's sister, who's husband is a judge.  I was struck by the
          number of books in their house.  Everywhere  I looked, there were books piled and shoved into corners, in
          bookshelves, as risers for their tv - so many books there was nowhere to put them. I decided then and there
          that I was going to read more, and I was going to buy the books I read so I too could have a library of all
          the books I read.  Since, I've discovered a few problems with this plan.  First, books are really heavy, and
          suck to move.  Second, I simply don't have room in my apartment for all the books I plan to read. Finally,
          hard copy books are bad for the environment, so I've gone digital.  So this is my digital bookshelf.  I
          needed somewhere to cataloge the books I read, somewhere to display my reading accomplishments.  I plan for
          this page to be that display.
        </p>
      </div>
      <ul>
        <li>
          <p><a href="http://www.righteousmind.com">The Righteous Mind</a>, Jonathan Haidt</p>
          <p>Finished April 2016</p>
          <p>A fantastic explanation of moral psychology and how it affects us all.</p>
        </li>
        <li>
          <p>
            <a href="http://www.goodreads.com/book/show/4191136-business-adventures">Business Adventures</a>, John Brooks
          </p>
          <p>
            Finished March 2016
          </p>
          <p>
            While at times I found the detail of the writing style somewhat painful, there are great lessons to be
            learned from this book. Further, I thoroughly enjoyed reading it on the whole.
          </p>
        </li>
        <li>
          <p><a href="https://en.wikipedia.org/wiki/Thinking,_Fast_and_Slow">Thinking Fast and Slow</a>, Daniel Kahneman</p>
          <p>Still reading...</p>
        </li>
        <li>
          <p><a href="http://www.nytimes.com/2015/05/17/books/review/elon-musk-by-ashlee-vance.html">Elon Musk</a>, Ashlee Vance</p>
          <p>Finished December 2015</p>
          <p>
            In a word, unfinished.  While this was a great biography of Musk's early success, almost anyone can see the
            story of Musk is not yet ended. This book was of particular interest to me as I found so many parallels
            between Musk's thought process and general outlook on the world, and my own.  If I had a real hero, it
            would be Musk.
          </p>
        </li>
        <li>
          <p>
            <a href="http://austinkleon.com/show-your-work/">Show Your Work!</a>, Austin Kleon
          </p>
          <p>
            Finished February 2016
          </p>
          <p>
            A very short book, Kleon essentially encourages artists of all types to publish often and early.  While not exactly profound, the book did get me creating more art (like this booklist) and that could lead to something profound. Probably not.
          </p>
        </li>
        <li>
          <p><a href="https://en.wikipedia.org/wiki/The_Martian_(Weir_novel)">The Martian</a>, Andy Weir</p>
          <p>Finished June 2015</p>
        </li>
        <li>
          <p>
            <a href="https://en.wikipedia.org/wiki/How_to_Create_a_Mind">How to Create a Mind</a>, Ray Kurzweil
          </p>
          <p>
            Finished May 2015
          </p>
          <p>
            Proof isn't the right word, but it's not too far off. Humans are just machines.
          </p>
        </li>
        <li>
          <p><a href="https://en.wikipedia.org/wiki/Atlas_Shrugged">Atlas Shrugged</a>, Ayn Rand</p>
          <p>
            Finished August 2009
          </p>
          <p>
            It took me two tries and almost two years to finish this beast, but it was very influencial on me as an
            already individualistic teen. In fact, I still have a tatoo on my wrist that's a direct result of reading
            this book. I think Rand got a little carried away with her idealistic ideas though. Nonetheless, if you want
            to understand the best parts of capitalism, (without any offsetting citicism) look no further.
          </p>
        </li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
<p>&nbsp</p>
<p>&nbsp</p>
<!-- Site Navigation -->
<p>
<div id='footer'>
  <%= link_to 'thoughts', root_path %>
  |
  <%= link_to 'interests', static_pages_interests_path %>
  |
  <%= link_to 'photos', static_pages_photos_path %>
  |
  <%= link_to 'code', static_pages_code_path %>
  |
  <%= link_to 'info', static_pages_info_path %>
</div>
</p>
</body>
