<div id="intro">
  <p>
    This my shit.
  </p>
</div>
<div id="med_list">
  <p>
  <ul>
    <li>
      <%= link_to 'books', static_pages_books_path %>
    </li>
    <li>
      <%= link_to 'music', static_pages_music_path %>
    </li>
    <li>
      <%= link_to 'cars', static_pages_cars_path %>
    </li>
  </ul>
  </p>
</div>


<!-- Site Navigation -->
<p>
<div id='footer'>
  <%= link_to 'thoughts', root_path %>
  |
  <%= link_to 'interests', static_pages_interests_path %>
  |
  <%= link_to 'photos', static_pages_photos_path %>
  |
  <%= link_to 'code', static_pages_code_path %>
  |
  <%= link_to 'info', static_pages_info_path %>
</div>
</p>