<div id='intro'>
  <p>
    A picture's worth...
  </p>
</div>
<div>
  <table id="tableoftables">
    <tbody>
    <tr>
      <td id="stack">
        <%= image_tag('2015-06-17a.JPG', class: 'img_med') %>
        <%= image_tag('2015-06-17a.JPG', class: 'img_med') %>
        <%= image_tag('2015-11-11.JPG', class: 'img_med') %>
        <%= image_tag('2016-02-14.JPG', class: 'img_med') %>
        <%= image_tag('2016-03-12.JPG', class: 'img_med') %>
      </td>
      <td id="stack">
        <%= image_tag('2015-09-29.JPG', class: 'img_med') %>
        <%= image_tag('2016-01-09.JPG', class: 'img_med') %>
        <%= image_tag('2016-03-01.JPG', class: 'img_med') %>
        <%= image_tag('2015-06-17b.JPG', class: 'img_med') %>
        <%= image_tag('2016-03-20.JPG', class: 'img_med') %>
        <%= image_tag('2015-06-17c.JPG', class: 'img_med') %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<p>&nbsp</p>
<p>&nbsp</p>
<p>
<div id='footer'>
  <%= link_to 'thoughts', root_path %>
  |
  <%= link_to 'interests', static_pages_interests_path %>
  |
  <%= link_to 'photos', static_pages_photos_path %>
  |
  <%= link_to 'code', static_pages_code_path %>
  |
  <%= link_to 'info', static_pages_info_path %>
</div>
</p>