<!DOCTYPE html>
<html>
  <head>
    <title>Shane Ryan Williamson</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'personallogo.PNG'%>
  </head>

  <body>
    <%= yield %>
    <!-- Site Navigation -->
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>
    <div id='footer'>
      <%= link_to 'thoughts', root_path %>
      |
      <%= link_to 'interests', static_pages_interests_path %>
      |
      <%= link_to 'photos', static_pages_photos_path %>
      |
      <%= link_to 'code', static_pages_code_path %>
      |
      <%= link_to 'info', static_pages_info_path %>
    </div>
    </p>
  </body>
</html>
